<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>MercadoLiebre</title>
</head>
<body>

    <!-- esto es un comentario  inicio de header-->

    <header>
    <img src="/img/logo-mercado-liebre.svg" >
<p>Lugar para poner la barra de busqueda</p>
<p>Compra en cuotas y sin t arjeta de credito</p>
<ul>

    <li>
        <a href="#">  Ofertas  </a>
        </li>

    <li> 
        <a href="#"> Tiendas Oficiales </a> 
        </li>

    <li>
        <a href="#"> Vender </a>
        </li>


    <li>
    <a href="#"> Ayuda </a>
    </li>
   

     <!-- corte tambien se puede usar ul-->
    <br>  
     <!-- corte tambien se puede usar ul-->

    <li>
    <a href="#">Crea tu cuenta</a>
    </li>

    <li>
    <a href="#">ingresa</a>
    </li>

    <li>
    <a href="#">Mis compras </a>
    </li>

</ul>


    </header>

      <!-- esto es un comentario  fin de header -->
   
    <!-- inicio de main-->
      <main>

        <img src="img/img-home-banner.jpg"  width="100%">

<section>

    <h1>Basado en tu ultima visita</h1>

    <article>
    
        <img src="/img/img-cafetera-moulinex.jpg" width="100%">
        <p>$6.770</p>
        <p>40% OFF</p>
        <h1>Cafetera Moulinex</h1>

    </article>

    <article>
    
        <img src= "\img\img-macbook-pro-2019.jpg" width="100%">
        <p>$230.000</p>
        <p>20% OFF</p>
        <h1>MacBook Pro 2019</h1>

    </article>

    <article>
    
        <img src= "\img\img-samsung-galaxy-s10.jpg"  width="100%">
        <p>$70.000</p>
        <p>10% OFF</p>
        <h1>Samsung Galaxy S10</h1>

    </article>

    <article>
    
        <img src= "\img\img-tv-samsung-smart.jpg"  width="100%">
        <p>$23.200</p>
        <p>5% OFF</p>
        <h1>SmartTv Samsung 43"</h1>

    </article>



</section>


<br>
 <!-- inicio de segundo section -->


<section>

    <h1>Seccion de ofertas</h1>

    <article>
    
        <img src="/img/img-cafetera-moulinex.jpg" width="100%">
        <p>$6.770</p>
        <p>40% OFF</p>
        <h1>Cafetera Moulinex</h1>

    </article>

    <article>
    
        <img src= "\img\img-macbook-pro-2019.jpg" width="100%">
        <p>$230.000</p>
        <p>20% OFF</p>
        <h1>MacBook Pro 2019</h1>

    </article>

    <article>
    
        <img src= "\img\img-samsung-galaxy-s10.jpg"  width="100%">
        <p>$70.000</p>
        <p>10% OFF</p>
        <h1>Samsung Galaxy S10</h1>

    </article>

    <article>
    
        <img src= "\img\img-tv-samsung-smart.jpg"  width="100%">
        <p>$23.200</p>
        <p>5% OFF</p>
        <h1>SmartTv Samsung 43"</h1>

    </article>

</section>

 <!-- fin de segundo section -->

    </main>

 <!-- fin  de main  -->

    <footer>

       <section>
           <p><strong> Paga con tarjeta o en efectivo </strong></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
       </section>

       <section>
           <p><strong>Envio gratis desde $2500</strong></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

       </section>

       <section>
           <p><strong>Seguridad, de principio a fin</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
       </section>

       <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
       </section>


    </footer>
     <!-- fin  de footer  -->


</body>
</html>